@model Folder


<header id="content-header">
    @Model.Name
</header>

<div id="content-main">
    @foreach (var bookMark in Model.BookMarks)
    {
        <div>
            <img width="25" height="25" src="http://www.google.com/s2/favicons?domain=@bookMark.Url" />
            <a href="@bookMark.Url" target="_blank">@bookMark.Name</a>
            <div class="deleteBmButton">
                <button onclick="deleteElement(@bookMark.Id, @Model.Id)">удалить закладку</button>
            </div>
            <br />
        </div>
    }

    <div>
        <input type="button" onclick="showAddNewBM()" value="Новая закладка">
        <div id="addBM" style="display: none">
            @await Html.PartialAsync("_AddBookMarkPartial", new AddBmViewModel() { CurrentFolderId = Model.Id })
        </div>
    </div>
</div>


<aside id="content-aside">
    <div class="vertical-menu">
        @await Html.PartialAsync("_MenuSortPartial", new SortBmViewModel() { FolderId = Model.Id })
    </div>

    <div id="deleteFodlerButton">
        <a onclick="return deleteConfirm()" asp-controller="Profile" asp-action="DeleteFolder" asp-route-folderId="@Model.Id">удалить папку</a>
    </div>
</aside>


<script type="text/javascript">
    function deleteElement(BmId, folderId) {
        if (confirm("Подтвердить")) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteBookMark", "Profile")',
                data: { bookmarkId: BmId, folderId: folderId },
                success: function (response){
                    $("#content").html(response);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    }

    function deleteConfirm() {
        if (confirm("Подтвердить")) {
            return true;
        }
        return false;
    }

    function showAddNewBM() {
        var x = document.getElementById("addBM");
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
</script>
