@model (List<BookMark>, long)
 <!--масив закладок / id папки-->
@foreach (var bookMark in Model.Item1)
{
    <img width="25" height="25" src="http://www.google.com/s2/favicons?domain=@bookMark.Url" />
    <a href="@bookMark.Url" target="_blank">@bookMark.Name</a>
    <div>
        <button onclick="deleteElement(@bookMark.Id, @Model.Item2)">удалить закладку</button>
    </div>
    <br />
}

<input type="button" onclick="showAddNewBM()" value="Новая закладка">
<div id="addBM" style="display: none">
    @await Html.PartialAsync("_AddBookMarkPartial", new AddBmViewModel() { CurrentFolderId = Model.Item2 })
</div>


<div id="aside">
    <div id="deleteButton">
        <a onclick="return deleteConfirm()" asp-controller="Profile" asp-action="DeleteFolder" asp-route-folderId="@Model.Item2">удалить папку</a>
    </div>
</div>


<script type="text/javascript">
    function deleteElement(BmId, folderId) {
        if (confirm("Подтвердить")) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteBookMark", "Profile")',
                data: { bookmarkId: BmId, folderId: folderId },
                success: function (response){
                    $("#demo").html(response);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    }

    function deleteConfirm() {
        if (confirm("Подтвердить")) {
            return true;
        }
        return false;
    }

    function showAddNewBM() {
        var x = document.getElementById("addBM");
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
</script>
